
:root {
  --primary-color:  #A3D09E;
  --secondary-color:#355e3b ;
  --text-color: #555;
  --background-color: #f4f4f4;
  --hover-color: #2d4d32;
}

.App {
  text-align: center;
}

body{
  margin: 0 auto;
}

*{
box-sizing: border-box;
font-family: "montserrat", "sans-serif";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Home */

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  background-color: var(--secondary-color);
}

.logo {
  font-size: 2.5em;
  color:#fff;
}

.loginContainer {
  background-color: #fff;
  padding: 30px;
  border-radius: 10% 10% 0 0;;
  text-align: center;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6), 0 6px 12px rgba(0, 0, 0, 0.5);

}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--text-color);
}

.paragraph {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: var(--text-color);
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.loginButton,
.coloredButton {
  padding: 12px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.loginButton, .loginContainer input{
  background-color: #fff;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
}

.coloredButton{  
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 50px;
}

.loginButton:hover,
.coloredButton:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

form{
  display: flex;
  flex-flow: column wrap;
}

/* Round overlay */
.loginContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for transparency */
  z-index: -1;
}
